@import "../../../../styles/color-palette.scss";

.analytics-sub-headers {
  color: $font-color-dark;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.7;
}
.custom-select {
  padding: 4px 7px;
  background-color: $white;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 230px;
  font-size: 12px;
}

.date-picker-main {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 230px;
}
