<div class="dialog-main-container">
  <div class="dialog-header">
    <span class="header-title d-flex align-center"> {{ data.title }}</span>
    <mat-icon class="header-close" (click)="closeModal()">close</mat-icon>
  </div>
  <div class="dialog-body">
    <ng-template #componentTemplate></ng-template>
    <ng-template [ngIf]="data.template" [ngTemplateOutlet]="!data.isDelete ? data.template : deleteTemplate"></ng-template>
    <mat-dialog-actions *ngIf="data.showActions" align="end" class="pt-10">
      <button mat-stroked-button color="accent" class="common-button-secondary" [mat-dialog-close]="false" mat-dialog-close>Cancel</button>
      <button [mat-dialog-close]="true" cdkFocusInitial mat-flat-button color="primary" class="common-button ml-10">
        {{ data.actionText }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
<ng-template #deleteTemplate>
  <div class="delete-text mb-20">
    Are you sure you want to delete
    <b>{{ data.delete.text }} ?</b>
  </div>
  <div class="list-delete" *ngIf="data.delete.list && data.delete.list.length !== 0">
    <ng-container *ngFor="let listItem of data.delete.list; index as lIndex">
      <ng-container *ngIf="listItem.listData.length && listItem.listData.length > 1">
        <p>{{ listItem.name }} :</p>
        <p *ngFor="let intent of listItem.listData; index as iIndex">{{ +iIndex + 1 }}. {{ intent.name }}</p>
      </ng-container>
    </ng-container>
  </div>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="accent" class="common-button-secondary" [mat-dialog-close]="false" mat-dialog-close>Cancel</button>
    <button [mat-dialog-close]="true" cdkFocusInitial mat-flat-button color="primary" class="common-button ml-10">Delete</button>
  </mat-dialog-actions>
</ng-template>
