$global-font-family: "Open Sans";
$primary-color: var(--primaryColor);
$secondary-color: var(--secondaryColor);
$title-color: rgb(255, 102, 0);
$danger-color: #ff0000;

/*Theme color*/
$primary-color: var(--primaryColor);
$secondary-color: var(--secondaryColor);
$left-sidebar-color: var(--titleAndLeftSidebarColor);
/*Background*/
$background-primary-color: #edf2f6;
$white: #ffffff;
/*Event colors*/
$text-color: #66737f;
$info-color: #48aafa;
$warning-color: #fabb3e;
$success-color: #70ce42;
/*Grey shades*/
$grey-main: #4e4f50;
$grey-primary: #adadad;
$grey-secondary: #c5c5c5;
$grey-disabled: #cbcbcb;
$grey-border: #d9d9d9;
$hr-color: #e7e7e8;
/*Font colors*/
$font-color-dark: #4e4f50;
$font-color-light: #707070;
/*Font Sizes*/
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;
/*Font Type*/
$global-font-family: "Open Sans";
/*Border Radius*/
$global-border-radius: 4px;
$grey-main-40: #4e4f5040;
$border-gray: #e2e2e3;
$error-shades: #fe6c6e0f;
$terminate-btn-bg: #ff0000;
$black: #000000;
$fail-color: #fe6c6e;
